@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html, body {
  color: #191919;
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-red {
  background-color: #f9d783;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 25px;
}
.btn-red i {
  margin-left: 8px;
  font-size: 0.85em;
}
.btn-red:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.85em;
}
.btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.85em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
}

.section-title {
  padding-top: 120px;
  padding-bottom: 90px;
}
.section-title p {
  color: #f90000;
  margin-bottom: 7px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #f0efe9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(102, 102, 102, 0.4);
  padding-bottom: 5px;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 25px;
  margin-right: 25px;
  border-right: 1px solid rgba(102, 102, 102, 0.4);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300px;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #191919;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3em;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: rgba(88, 86, 86, 0.537254902);
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
@media (min-width: 2500px) {
  header .container {
    max-width: 2048px;
  }
}

.showcase {
  background-color: #f0efe9;
  padding-bottom: 120px;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 80px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 75px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 27px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content p {
    font-size: 30px;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 20px;
  }
}
.showcase .container img {
  margin-right: -50px;
  padding-top: 20px;
  display: none;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.project-and-case .container .section-title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 45px;
}
@media (min-width: 768px) {
  .project-and-case .container .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
}
@media (max-width: 992px) {
  .project-and-case .container .project-and-cases .project img {
    height: auto;
  }
}
.project-and-case .container .project-and-cases .project h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.4);
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px 15px;
  margin-right: 15px;
  display: block;
  text-align: right;
  font-family: "inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.newsletter {
  background-color: #f0efe9;
  position: relative;
  padding-top: 80px;
  padding-bottom: 90px;
}
.newsletter .background-lines-right {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #dad9d3;
  margin-right: 20px;
}/*# sourceMappingURL=style.css.map */