@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    color: #191919;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-red {
    background-color: #f90000;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.85em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #ffffff;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.85em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #ffffff;
    }
}

.section-title {
    padding-top: 120px;
    padding-bottom: 90px;
    p {
        color: #f90000;
        margin-bottom: 7px;

    }

    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;

    }

}

header {
background-color: rgba(247, 195, 176, 0.466);
padding: 16px;

.container {
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 70px;

.menu-bars {
    border: none;
    font-size: 25px;
    background-color: transparent;

    @media (min-width: 992px) {
        display: none;
    }
}

.menu {
    display: none;
    flex: 1;

    @media (min-width: 992px) {
        display: block;
    }
.top-menu {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #6666;
    padding-bottom: 5px;
    align-items: center;

    @media (min-width: 1200px) {
        justify-content: space-between;
    }

    .contact-information {
        display: none;
        align-items: center;

        @media (min-width: 1200px) {
            display: flex;
        }

        .content-box {
            padding-right: 25px;
            margin-right: 25px;
            border-right: 1px solid #6666;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            font-weight: 300px;

            i {
                margin-right: 5px;
                font-size: 1.2em;
                color: #191919;

            }


            &.last {
                border: none;
            }
        }
    }
.social-media {
    a {
        color: #191919;
        font-size: 1.3em;
        margin-left: 10px;

        &:hover {
            color: #58565689;
        }
    }
}
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    nav {
        a {
            display: inline-block;
            color: #191919;
            text-decoration: none;
            margin-right: 35px;
            position: relative;

            &.active::after, 
            &:hover::after {
                content: '';
                position: absolute;
                font-weight: 500;
                height: 2px;
                width: 15px;
                background-color: #191919;
                left: 50%;
                bottom: -3px;
                transform: translate((calc(50% - 15px)));
            }
        }
    }
}


}


@media (min-width: 2500px) {
    max-width: 2048px;
}




}


}


.showcase {
    background-color: rgba(247, 195, 176, 0.466);
    padding-bottom: 60px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            text-align: center;


             @media (min-width: 1200px) {
                text-align: left;
                }
            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 500;
                font-size: 45px;
                padding-top: 30px;
                padding-bottom: 30px;

                @media (min-width: 768px) {
                    font-size: 70px;
                }
                @media (min-width: 1200px) {
                    font-size: 80px;
                }


                @media (min-width: 1400px) {
                    font-size: 75px;
                }
            }

            p {

                @media (min-width: 768px) {
                    font-size: 27px;
                    padding-left: 0;
                    padding-right: 0;
                }

                @media (min-width: 1400px) {
                    font-size: 30px;
                }
                font-size: 18px;
                padding-top: 0px;
                padding-bottom: 30px;
                padding-left: 10px;
                padding-right: 10px;

            }

            a {
                margin-right: 0px;
                padding-top: 20px;
                padding-bottom: 20px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    display: inline-block;
                    margin-right: 20px;
                }

            }

        }

        img {
            margin-right: -50px;
            padding-top: 20px;
            display: none;

            @media (min-width: 1200px) {
                display: block;
            }
            
        }


    }
}

.project-and-case {
    .container {

        .section-title {
            text-align: center;
        }
        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            article {

                img {

                }

                h3 {

                }

                a {

                }
            }
        }
    }

}