@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    color: #191919;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.btn-red {
    background-color: #f9d783;
    color: #191919;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.85em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #ffffff;
        transition: background-color 0.3s ease;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.85em;
    }

    &:hover {
        background-color: #ffffff;
        border: 1px solid #191919;
        color: #191919;
        transition: background-color 0.3s ease;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.85em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #ffffff;
        transition: background-color 0.3s ease;
    }
}

.section-title {
    padding-top: 120px;
    padding-bottom: 90px;
    p {
        color: #f90000;
        margin-bottom: 7px;

    }

    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;

    }

}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;

}

header {
background-color: #f0efe9;
padding: 16px;

.container {
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 70px;

.menu-bars {
    border: none;
    font-size: 25px;
    background-color: transparent;

    @media (min-width: 992px) {
        display: none;
    }
}

.menu {
    display: none;
    flex: 1;

    @media (min-width: 992px) {
        display: block;
    }
.top-menu {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #6666;
    padding-bottom: 5px;
    align-items: center;

    @media (min-width: 1200px) {
        justify-content: space-between;
    }

    .contact-information {
        display: none;
        align-items: center;

        @media (min-width: 1200px) {
            display: flex;
        }

        .content-box {
            padding-right: 25px;
            margin-right: 25px;
            border-right: 1px solid #6666;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            font-weight: 300px;

            i {
                margin-right: 5px;
                font-size: 1.2em;
                color: #191919;

            }


            &.last {
                border: none;
            }
        }
    }
.social-media {
    a {
        color: #191919;
        font-size: 1.3em;
        margin-left: 10px;

        &:hover {
            color: #58565689;
        }
    }
}
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    nav {
        a {
            display: inline-block;
            color: #191919;
            text-decoration: none;
            margin-right: 35px;
            position: relative;

            &.active::after, 
            &:hover::after {
                content: '';
                position: absolute;
                font-weight: 500;
                height: 2px;
                width: 15px;
                background-color: #191919;
                left: 50%;
                bottom: -3px;
                transform: translate((calc(50% - 15px)));
            }
        }
    }
}


}


@media (min-width: 2500px) {
    max-width: 2048px;
}




}


}

.showcase {
    background-color: #f0efe9;
    padding-bottom: 120px;
    position: relative;
    z-index: 0;

    .background-lines {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            text-align: center;


             @media (min-width: 1200px) {
                text-align: left;
                }
            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 500;
                font-size: 45px;
                padding-top: 30px;
                padding-bottom: 30px;

                @media (min-width: 768px) {
                    font-size: 70px;
                }
                @media (min-width: 1200px) {
                    font-size: 80px;
                }


                @media (min-width: 1400px) {
                    font-size: 75px;
                }
            }

            p {

                @media (min-width: 768px) {
                    font-size: 27px;
                    padding-left: 0;
                    padding-right: 0;
                }

                @media (min-width: 1400px) {
                    font-size: 30px;
                }
                font-size: 18px;
                padding-top: 0px;
                padding-bottom: 30px;
                padding-left: 10px;
                padding-right: 10px;

            }

            a {
                margin-right: 0px;
                padding-top: 20px;
                padding-bottom: 20px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    display: inline-block;
                    margin-right: 20px;
                }

            }

        }

        img {
            margin-right: -50px;
            padding-top: 20px;
            display: none;

            @media (min-width: 1200px) {
                display: block;
            }
            
        }


    }
}

.project-and-case {
    .container {

        .section-title {
            text-align: center;
            padding-top: 70px;
            padding-bottom: 45px;

            @media (min-width: 768px) {
            padding-top: 120px;
            padding-bottom: 90px;

            }


        }
        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            .project {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;

                img {
                    width: 100%;
                    @media (max-width: 992px) {
                        height: auto;
                    }

                }

                h3 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 22px;
                padding-top: 30px;
                padding-bottom: 15px;
                border-bottom: 1px solid #6666;

                }

                .readmore {
                    padding: 15px 15px;
                    margin-right: 15px;
                    display: block;
                    text-align: right;
                    font-family: 'inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;
                    i {
                        margin-left: 3px;
                    }

                }
                &:hover .readmore {
                    text-decoration: underline;
                }

            }
        }
        .center-content {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }

}

.newsletter {
    background-color: #f0efe9;
    position: relative;
    padding-top: 80px;
    padding-bottom: 90px;
    

    .background-lines-right {
        position: absolute;
        bottom: 20px;
        right: 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-family: 'DM sans', sans-serif;
            font-size: 45px;
            font-weight: 700;

        }

        form {
            input {
                color: #191919;
                text-decoration: none;
                padding: 10px 30px;
                font-size: 16px;
                border-radius: 25px;
                outline: none;
                border: 1px solid #dad9d3;
                margin-right: 20px;
            }

        }
    }
}

.meet-our-team {
    background-color: #edcf87;
    .container {
        position: relative;
        height: 1750px;
        
        .section-title {
            padding-top: 70px;
            padding-bottom: 45px;

        }

        .dot-container {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            top: 45%; /* Placera prickarna i mitten vertikalt */
            left: 50%; /* Placera prickarna i mitten horisontellt */
            transform: translate(-50%, -50%); /* Centrera prickarna korrekt */
            
        }

        .dot {
            width: 10px; /* Justera bredden efter behov */
            height: 10px; /* Justera höjden efter behov */
            background-color: #C3AB71; /* Svart färg */
            border-radius: 50%; /* Gör den rund */
            margin: 0 5px; /* Avstånd mellan prickarna */
        }
    
        .black-dot {
            background-color: #191919; /* Ändra bakgrundsfärgen till röd */
            /* Andra stilar för den röda punkten om det behövs */
        }

    
        .meet-our-team-members {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            
        }
        .btn-transparent {
            position: absolute; /* Sätt position: absolute på knappen */
            top: 100px; /* Placera knappen längst upp */
            right: 0; /* Placera knappen längst till höger */
        }
        .members {
            display: grid;
            justify-content: space-between;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;
                position: relative;

                h3 {
                    font-family: 'DM Sans';
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 30px;
                    padding-bottom: 10px;
                   
    
                    }
                    p {
                    font-family: 'inter';
                    font-size: 16px;
                    color: rgba(25,25,25,0.6980392156862745 );
        
                    }
        }
    }
}

.testimonial {
    height: 800px; /* Justera höjden efter behov */
    width: 95%; /* Justera bredden efter behov */
            background-color: #ffffff;
            margin: 100px auto; /* Centrera horisontellt */
            text-align: center; /* Centrera innehållet vertikalt */
            padding: 50px;
            padding-top: 50px;
            justify-content: flex-start;
            display: flex;
            flex-direction: column;

            .section-title {
                align-self: center;
            
                
            }

            .testimonial-content {
                display: grid;
                grid-row-gap: 20px;
                grid-column-gap: 20px;
                text-align: center;
            }

            .testimonial-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            padding: 20px;
            text-align: left;
            }

            .stars {
                display: flex;
                grid-template-columns: 1fr 1fr 1fr; /* Dela upp i tre fraktioner */
                grid-row-gap: 100px;
                

                .star-group {
                    grid-template-columns: 1fr 1fr 1fr;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    

                    p {
                    font-size: 18px;
                    margin: 0;
                        
                    padding: 17px 0px;
                    margin-right: 15px;
                    display: flex;
                    text-align: left;
                    font-family: 'inter', sans-serif;
                    
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        display: flex;
                        margin-top: 10px; /* Avstånd mellan text och profilbild */
                    }
                }
                
                
            }
            .center-content {
                margin-top: 10px;
                margin-bottom: 25px;
            }
}

.consulting-agency {
    height: 800px;
    padding-top: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr; /* Två kolumner i 1:1 förhållande */
    //gap: 50px; /* Avstånd mellan rutnäten */
    width: 100%;
    .section-title-consulting-agency {
        text-align: left;
        
        h3 {
            font-family: 'DM Sans', sans-serif;
            font-weight: 600;
            font-size: 55px;
        }
    
        h6 {
            font-family: 'inter';
            font-size: 18px;
            color: #f94d1c;
        }
    }

    .container {
        background-color: #f0efe9;
        position: flex-end;
        width: 100%;
        height: 80%;
        top: 150px;
        

    }

    .left-grid {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-right: 0px;
        padding-left: 90px;

        .icon-text-container {
            display: flex;
            flex-direction: column; /* Visa ikonerna och texten i en rad */
            align-items: center; /* Centrera innehållet vertikalt */
            text-align: center;
            gap: 20px; /* Avstånd mellan ikonerna och texten */
            padding: 40px 80px;
            
        }
        
        a:hover {
            color: #191919;
            //text-decoration: underline;
        }
        .icon-text-item:hover p {
            transform: scale(1.1); /* Ändra storleken efter behov */
            font-weight: 1200;
            //text-decoration: underline;
        }
        
        /* Återställ texten till normal storlek när muspekaren inte längre hovrar över dem */
        .icon-text-item p {
            transition: transform 0.3s ease; /* Smidig övergångseffekt */
        }
        .icon-text-item:hover h5 {
            transform: scale(1.2); /* Ändra storleken efter behov */
            font-weight: 1200;
            //text-decoration: underline;
        }
        
        /* Återställ texten till normal storlek när muspekaren inte längre hovrar över dem */
        .icon-text-item h5 {
            transition: transform 0.3s ease; /* Smidig övergångseffekt */
        }

        .icon-text-item {
            display: flex;
            //flex-direction: column;
            text-decoration: none;
            align-items: center; /* Centrera innehållet vertikalt */
            text-align: center; /* Centrera texten horisontellt */
            margin-bottom: 10px;
            
        }
        .text-content {
            text-align: left; /* Centrera textinnehållet horisontellt */
            margin-top: 10px; /* Avstånd mellan <p> och <h5> */
            margin-left: 20px;

        }
        .section-title-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            padding: 20px;
            margin-left: 120px;
        }
    
    p {
        font-family: 'DM Sans';
        color: #191919;
        font-size: 22px;
        font-weight: 700;
        
    }

    h5 {
        font-family: 'inter';
        font-size: 16px;
        color: rgba(25,25,25,0.6980392156862745 );
    }
    img {
        
        border-radius: 50%; 
        border: 1px solid #6666;
        padding: 5px;
        margin-right: 10px;
    }
}
.right-grid {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
    position: relative;

    img {
        position: relative;
        right: 130px;
        top: 0px;
        bottom: 300px;
    }
}

.right-grid .container {
    position: absolute;
    top: 100;
    left: 0;
    right: 0;
    bottom: 100px;
    z-index: -1; /* Använd ett negativt z-index-värde för att placera den bakom */
}

   
}

.service-consulting {
    
    height: 890px;
    display: flex;
    flex-direction: column;
    background-color: #F0EFE9;

    a {
        transition: transform 0.3s ease; 
    
    :hover {
        transform: scale(1.3); 
        background-color: #edcf87;
    }
    }

    .service-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 80px;;
        
    
p#top-left {
    font-family: 'inter';
            font-size: 18px;
            color: #f94d1c;
            padding-left: 75px;
            //padding-top: 90px;
}

h1 {
    font-family: 'DM Sans', sans-serif;
            font-weight: 600;
            font-size: 55px;
            padding-left: 75px;
            width: 40%;
}
}

/* Flexbox-stil för serviceboxarna */
.service-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 100px 70px;
    position: relative;
    //flex-wrap: wrap;

}

.service-boxes .service-box:nth-child(2) {
    background-color: #edcf87; /* Byt ut denna färg till din önskade färg */
}



.service-box {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    margin-right: 20px;
    width: 308px;
    height: 333px;
    margin-bottom: 80px;
    
    position: relative;
}
.service-box::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 27px;
    width: 13%;
    height: 2px;
    background-color: black; /* Ändra färgen här om så önskas */
}

h2 {
    font-size: 22px;
    font-family: 'dm sans';
    color: #191919;
    font-weight: 700;
    text-align: left;
    padding: 8px;
    margin-top: 60px;
}

p {
    font-size: 16px;
    color: rgba(25,25,25,0.6980392156862745 );
    font-family: 'inter';
    text-align: left;
    padding: 8px;
}

.arrow-icon {
    position: absolute;
    bottom: 50px; /* Justera avståndet från botten här */
    right: 30px; /* Justera avståndet från höger här */
    display: inline-block;
    padding: 12px;
    border-radius: 50%; /* Skapar en rund bakgrund */
    background-color: #0e0d0d; /* Bakgrundsfärgen runt pilen */

}

/* Justera storlek och färg på pilen */
.fa-arrow-right {
    font-size: 25px;
}


/* Stil för .btn-black */
.btn-transparent {
    display: flex;
    justify-content: center; /* Centrera innehållet horisontellt */
    align-items: center;
    margin-left: auto;
    position: absolute;
    bottom: 95px; /* Justera detta för att placera knappen längst ner */
    left: 50%;
    transform: translateX(-50%);
}


.container img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}


}

.about-our-company {
height: 600px;
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 100px;
    margin-top: 180px;
}

.left-section {
    
    position: relative;
top: -50px;
    p {
        color: #191919;
    }

    h5 {
        color: #191919;
        font-weight: 700;
    }
    .founders-text {
        color: #f94d1c;
        font-weight: 500;
    }
}

.image-overlay {
    position: absolute;
    bottom: 50px;
    left: -15%;
    align-items: center;
    justify-content: center; /* Centrera vertikalt */
    background-color: #beebff;
    color: white;
    padding: 10px;
    height: 150px;
    width: 70%;
    margin: auto;

}

.image-overlay h5,
.image-overlay p {
    margin: 5px; /* Ta bort standardmarginaler för p och h5 */
}

.image-overlay p {
    margin-top: 20px; /* Lite utrymme mellan h5 och p */

}


.right-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    position: relative;
    top: -50px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

.btn-black {
    margin-right: 40px; /* Justera detta avstånd efter behov */
}

.circle-play-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.fa-circle-play {
    color: #191919;
    font-size: 24px;
    margin-right: 8px;
}

.intro-video-text {
    color: #191919;
    font-size: 18px;
    font-family: 'dm sans';
    font-weight: 600;
}

.about-company {
    font-size: 18px;
    font-family: 'inter';
    color: #f94d1c;
}

.company-name {
    font-size: 45px;
    font-weight: 600;
    font-family: 'dm sans';
    width: 90%;
    
}

.small-text {
    font-size: 14px;
    margin-top: 10px;
    color: rgba(25,25,25,0.6980392156862745 );
    width: 70%;
}

}

.features {
height: 500px;

.container-border {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #D1D1D1;
    padding: 40px;
    gap: 150px;
    box-sizing: border-box;
    position: relative;
    width: 1200px;
    height: 550px;
    margin-left: 140px;
    margin-right: 80px;
    margin-top: 20px;
    
    

    .container1 {

        width: 120%;
        padding-bottom: 130px;
        justify-content: center;
        margin-right: 50px;
        p {
            font-family: 'inter';
            font-size: 18px;
            color: #f94d1c;
        }
        h2 {
            font-family: 'DM Sans', sans-serif;
            font-weight: 600;
            font-size: 44px;
            margin-bottom: 20px;
        }
        .btn-red {
            display: inline-block; /* Gör knappen till en blocknivå-element för att ändra bredden */
            padding: 10px 120px; /* Justera padding för att ändra bredden */
            border: none;
            transition: background-color 0.3s ease;
        }
        
    }

    .container2 {
        width: 120%;
        padding: 20px;
        justify-content: center;

        .profile-1 {
            text-decoration: none;
        img {
        margin-bottom: 20px;
        }
        h5 {
        margin-bottom: 20px;
        font-family: 'dm sans';
        font-weight: 700;
        font-size: 22px;
        color: #191919;
        }
        p {
        margin-bottom: 10px;
        font-family: 'inter';
        font-size: 16px;
        color: rgba(25,25,25,0.6980392156862745 );

        }
    }

.profile-2 {
    text-decoration: none;
    img {
        margin-bottom: 20px;
                }
                h5 {
        margin-bottom: 20px;
        font-family: 'dm sans';
            font-weight: 700;
        font-size: 22px;
        color: #191919;
                }
                p {
        margin-bottom: 10px;
        font-family: 'inter';
        font-size: 16px;
        color: rgba(25,25,25,0.6980392156862745 );
                }

}
a:hover {
    color: #191919;
    text-decoration: underline;
    
}


    .container3 {
        
        width: 120%;
        padding: 20px;
        justify-content: center;

        a:hover {
            color: #191919;
            text-decoration: underline;
        }
        .profile-3 {
            text-decoration: none;
            img {
            margin-bottom: 20px;
            }
            h5 {
            font-family: 'dm sans';
            font-weight: 700;
            font-size: 22px;
            color: #191919;
            margin-bottom: 20px;
            }
            p {
            margin-bottom: 10px;
            font-family: 'inter';
            font-size: 16px;
            color: rgba(25,25,25,0.6980392156862745 );
            }
        }
    
    .profile-4 {
        text-decoration: none;
        img {
            margin-bottom: 20px;
             }
            h5 {
            margin-bottom: 20px;
            font-family: 'dm sans';
            font-weight: 700;
            font-size: 22px;
            color: #191919;
            }
            p {
            margin-bottom: 10px;
            font-family: 'inter';
            font-size: 16px;
            color: rgba(25,25,25,0.6980392156862745 );
            }
    
    }

    }
}
}

.companies {
    display: grid;
    place-items: center; 
    height: 250px;
    gap: 50px; 


.Logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 90px; 
    transition: transform 0.3s ease; 
    
    :hover {
        transform: scale(1.1); 
    }
}
}

.Article-and-News {
    height: 800px;
    .header-text {
        p {
            font-family: 'inter';
            font-size: 18px;
            color: #f94d1c;
        }
        h2 {
            font-family: 'DM Sans', sans-serif;
            font-weight: 600;
            font-size: 44px;
            margin-bottom: 20px;
        }
        text-align: left;
        grid-column: span 3; /* Få header-text att omfatta alla tre kolumner */
        margin-bottom: 0px; /* Justera om det behövs */
    }
    .article-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 120px;
        //margin-bottom: 150px;
    }
    
    /* Enskild artikel */
    .article {
        text-align: left;
        text-decoration: none;
        //padding: 90px;

    }
    
    /* Bildstil (storlek och maxbredd) */
    .article img {
        width: 420px;
        height: 230px;
        
    }
    .article:hover h6 {
        transform: scale(1.1); /* Ändra storleken efter behov */
        font-weight: 1200;
        text-decoration: underline;
    }
    
    /* Återställ texten till normal storlek när muspekaren inte längre hovrar över dem */
    .article h6 {
        transition: transform 0.3s ease; /* Smidig övergångseffekt */
    }
    /* Rubrik 6 (h6) */
    .article h6 {
        font-size: 22px;
        margin: 10px 0;
        width: 75%;
        color: #191919;
        font-family: 'dm sans';
        font-weight: 700;
    }
    
    /* Ytterligare stil för övrig text */
    .article p {
        font-size: 16px;
        margin: 15px 0;
        color: #6a6c71;
        font-family: 'inter';
    }

    .image-container {
        position: relative; /* För att skapa en relativ position för barnen */
    }
    
    /* Den gula boxen */
    .yellow-box {
        position: absolute; /* Placera den relativt till föräldern (.image-container) */
        bottom: 20px;
        left: 15px;
        background-color: #f9d783;
        width: 56px; /* Justera bredden efter behov */
        height: 64px; /* Justera höjden efter behov */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .date {
        font-size: 22px;
        font-weight: 500;
        font-family: 'dm sans';
        color: #191919;
    }
    
    .month {
        font-size: 16px;
        font-family: 'inter';
        color: rgba(25,25,25,0.6980392156862745 );

    }

    .btn-transparent {
        position: relative; /* Sätt position: absolute på knappen */
        bottom: 520px; /* Placera knappen längst upp */
        right: 0; /* Placera knappen längst till höger */
        left: 1090px;
        width: 50%;
    }

    .dot-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        top: 45%; /* Placera prickarna i mitten vertikalt */
        left: 50%; /* Placera prickarna i mitten horisontellt */
        transform: translate(-50%, -50%); /* Centrera prickarna korrekt */
        
    }

    .dot {
        width: 10px; /* Justera bredden efter behov */
        height: 10px; /* Justera höjden efter behov */
        background-color: #D1D1D1; /* Svart färg */
        border-radius: 50%; /* Gör den rund */
        margin: 0 5px; /* Avstånd mellan prickarna */
    }

    .black-dot {
        background-color: #191919; /* Ändra bakgrundsfärgen till röd */
        /* Andra stilar för den röda punkten om det behövs */
    }

}

.Menu-end {
    background-color: #0E1021; /* Bakgrundsfärg */
    color: #fff; /* Textfärg */
    padding: 30px; /* Yttre fyllnad */
    height: 530px;

    .lines img {
        width: auto;
        max-height: 100%; /* Anpassa höjden så att bilden inte sträcker sig över sektionen */
        position: relative;
        bottom: 100px;
        left: 1200px;
    }

/* Skapa ett CSS Grid med fem kolumner och automatisk radhöjd */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 60px; /* Avstånd mellan fraktioner */
    margin: 0 auto; /* Centrera innehållet horisontellt */
    padding: 90px; /* Yttre fyllnad */
}

.showcase-fraction {
left: 190px;
//margin-right: 40px;
width: 100%;
text-align: left;

p {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    padding: 0px;
    gap: 70px;
}
}

/* Styla fraktioner */
.fraction {
    text-align: left;
    width: 90%;
    margin-left: 50px;
}

/* Styla länkar */
.fraction a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}


/* Styla rubriker */
h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #ffffff;
}

/* Styla vanlig text */
p {
    font-size: 16px;
    color: rgba(255,255,255,0.6980392156862745 );
    margin-bottom: 15px;
    font-family: 'inter';
}

/* Styla länkar i vanlig text */
p a {
    color: #fff;
    text-decoration: none;
}

/* Ändra färg på länkar vid hover */
a:hover {
    color: #ff8800;
}
}

.text-social-media {
    background-color: #0E1021;
    border-top: 1px solid rgba(255,255,255,0.2 ); 
    padding: 30px;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px;
    p {
        font-family: 'inter';
        font-size: 16px;
        color: rgba(255,255,255,0.6980392156862745 );
        margin-right: 500px;
    }
    a {
        color: #ffffff;
        font-size: 1.3em;
        margin-left: 10px;
        

        &:hover {
            color: #58565689;
        }
    }
   
}





        

    
    
